<div class="l-screen">plátno</div>

<div class="l-desks">
    {% for desk_id, desk in desks %}
        <div
            class="l-desk"
            data-desk-id="{{ desk_id }}"
            style="
                top: {{ desk.layout.position.x }}%;
                left:{{ desk.layout.position.y }}%;
                width: {{ desk.layout.dimensions.x }}%;
                height: {{ desk.layout.dimensions.y }}%;
            "
        >
            <div
                class="
                    l-desk-shape
                    l-status--{{ desk.status|default('init') }}
                    l-desk-shape-{{ desk.layout.shape }}
                "
                style="transform: rotate({{ desk.layout.rotation }}deg);"
            >

                <div class="l-desk-id">
                    <div class="l-desk-name">{{ desk.name }}</div>
                    <div class="l-desk-coach">{{ desk.coach }}</div>
                </div>

                <div class="l-chairs">
                    {% for chair_id, chair in desk.chairs %}
                        <a
                            class="
                                l-chair
                                l-chair--position_{{ chair_id }}
                                {% if chair.status %}l-status--{{ chair.status }}{% endif %}
                                {% if chair.socketId %}l-chair--online{% endif %}
                            "
                            data-chair-id="{{ chair_id }}"
                            href="/desk/{{ desk_id }}/chair/{{ chair_id }}/"
                        >
                            {{ chair.name|default('?') }}
                            {#<br>{{ chair.status }}#}
                            {#<br>{{ desk_id }}/{{ chair_id }}#}
                        </a>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endfor %}
</div>