<div class="l-screen">plátno</div>

<div class="l-desks">
    {% for desk_id, desk in room.desks %}
        <div
            class="l-desk"
            data-desk-id="{{ desk_id }}"
            style="
                top: {{ desk.layout.position.x }}%;
                left:{{ desk.layout.position.y }}%;
                width: {{ desk.layout.dimensions.x }}%;
                height: {{ desk.layout.dimensions.y }}%;
                "
        >
            <div
                class="
                    l-desk-shape
                    l-desk-shape-{{ desk.layout.shape }}
                "
                style="transform: rotate({{ desk.layout.rotation }}deg);"
            >
                <div class="l-status--{{ desk.status }}">

                    <div class="l-desk-id">
                        <div class="l-desk-name">{{ desk.name }}</div>
                        <div class="l-desk-coach">{{ desk.coach }}</div>
                    </div>

                    {% for chair_id, chair in desk.chairs %}
                        <div class="l-chair l-chair--position_{{ chair_id }}">
                            <a
                                class="l-status--{{ chair.status }}"
                                data-chair-id="{{ chair_id }}"
                                href="/desk/{{ desk_id }}/chair/{{ chair_id }}/"
                            >
                                {{ chair.name }}
                                {#<br>{{ chair.status }}#}
                                {#<br>{{ desk_id }}/{{ chair_id }}#}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    {% endfor %}
</div>