{% extends "_base.njk" %}


{% block title %}{{ super() }}{% endblock %}


{% block js_vars %}
    {{ super() }}
    var thisDeskId = {{ deskId }};
    var thisChairId = {{ chairId }};
    var isDetailView = true;
{% endblock %}


{% block body %}
    <div class="l-nav-top">
        <a href="/">výběr židle</a>
    </div>

    <div class="l-main">
        <p>Tuhle stránku si nech pořád otevřenou.</p>

        <h1 class="l-student_name">
            <span class="l-student_name-text">{% if chair.name != '?' %}{{ chair.name }}{% endif %}</span>
            <span class="l-name_actions">
                <a class="l-unset_name" href="#">smazat</a>
                <a class="l-set_name" href="#">změnit jméno</a>
            </span>
        </h1>

        <div class="l-student_status_info--intro l-student_status_info">Začneme.</div>

        <form class="l-name_form" action="" method="post">
            <input type="text" maxlength="32" placeholder="vyplň si jméno" name="studentName" required pattern=".+" value="">
            <input type="submit" value="uložit">
        </form>

        <div class="l-buttons l-buttons--student">
            {% for status_id, status in room.statusTypes %}
                <button
                    data-status-id="{{ status_id }}"
                    class="
                        l-button
                        l-status--{{ status_id }}
                        {% if student.status == status_id %}l-selected{% endif %}
                    "
                >
                    <span>{{ status.label }}</span>
                </button>
            {% endfor %}
        </div>

        <div class="l-student_status_info--lecture l-student_status_info">Právě probíhá výklad.</div>

        <div class="l-student_status_info--break l-student_status_info"><span class="l-break_countdown-time"></span></div>

        <div class="l-chat-log l-chat-log--student"></div>
    </div>

    {{ super() }}

{% endblock %}
