{% extends "_base.njk" %}


{% block title %}{{ super() }} {{ i18n['title_coach'] }}{% endblock %}


{% block body %}
    {% set isCoach = true %}


    {% include '__desks.njk' %}

    <a class="l-button l-button--primary" href="/tasks">přehled všech úkolů</a>

    <h2 class="l-coach-messages-heading">{{ i18n['Messages'] }}</h2>

    <div class="l-chat-log l-chat-log--coach l-js-chat-log"></div>

    {{ super() }}

{% endblock %}