{% extends "_base.njk" %}


{% block title %}Index{% endblock %}


{% block body %}

    <h1>Najdi svoje jméno</h1>

    <div class="tables">
        {% for table in layout %}
            <div class="table">
                <h2>{{ table.name }} (<em>kouč/ka: {{ table.coach }})</em></h2>

                <div class="students">
                    {% for student in table.students %}
                        <div class="student">
                            <a href="/student/{{ student.id }}">{{ student.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    {{ super() }}

{% endblock %}