{% extends "_base.njk" %}


{% block title %}: {{ student.name }}{% endblock %}


{% block body %}

    <h1>{{ student.name }}</h1>
    <div class="buttons buttons_student">
        {% for status_id, status in statusTypes %}
            <div data-id="{{ status_id }}" class="button {{ status_id }} {% if student.status == status_id %}selected{% endif %}"><span>{{ status.verboseName }}</span></div>
        {% endfor %}
    </div>

    <div class="lecture">Právě probíhá výklad</div>

    <div class="intro">Ahoj!</div>

    {{ super() }}

{% endblock %}
