{% extends "_base.njk" %}


{% block title %}{{ super() }} Lektor{% endblock %}


{% block body %}
    <div class="l-lector">
        <div class="l-lector-controls">
            <div class="l-room_status_info">
                <div class="l-room_status_info-status">stav třídy: <span class="l-room_status_info-status-text">{{ room.roomStatus }}</span></div>
                <div class="l-room_status_info-duration">stav trvá: <span class="l-room_status_info-duration-text">00:00</span></div>

            </div>
            <div class="l-buttons l-buttons--teacher">
                <button class="l-button l-button--primary l-button--start_work" data-emit="workStart">Úkol zadán</button>
                <button class="l-button l-button--check_status" data-emit="checkStatus">Nemají už hotovo?</button>
                <button class="l-button l-button--primary l-button--start_lecture" data-emit="lectureStart">Začínám výklad</button>
                <button class="l-button l-button--primary l-button--start_break" data-emit="breakStart" data-require-input="true">Přestávka</button>
            </div>
            <div class="l-chat">
                <form action="" method="post" class="l-chat-form">
                    {#<select name="" id="">
                        <option value="0">Vyber zprávu</option>
                        <option value="1">titulek předpřipravené zprávy</option>
                    </select>#}
                    <textarea name="chatMessage" id="" cols="30" rows="5" tabindex="1"></textarea>
                    <div class="l-chat-buttons">
                        <button tabindex="3" class="l-button" data-emit="chatLastMessageDelete">smazat poslední</button>
                        <input tabindex="2" class="l-button l-button--primary" type="submit" value="odeslat zprávu" >
                    </div>
                </form>
                <div class="l-chat-log"></div>
            </div>
        </div>

        {% include '__desks.njk' %}
    </div>

    {{ super() }}

{% endblock %}