{% extends "_base.njk" %}


{% block title %}{{ super() }} Lektor{% endblock %}


{% block body_class %} l-page_lector {{ super() }} {% endblock %}


{% block body %}

    <div class="l-lector-controls">
        <div class="l-room_status_info">{{ room.roomStatus }}</div>
        <div class="l-buttons l-buttons--teacher">
            <button class="l-button l-button--start_work" data-emit="workStart">Skončil jsem výklad a zadal úkol</button>
            <button class="l-button l-button--check_status" data-emit="checkStatus">Chci zjistit, zda už nejsou hotové</button>
            <button class="l-button l-button--start_lecture" data-emit="lectureStart">Začínám výklad</button>
        </div>
    </div>

    {% include '__desks.njk' %}

    {{ super() }}

{% endblock %}