html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body { line-height: 1; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after { box-sizing: border-box; }

body,
input,
textarea,
button { font-family: "Roboto Condensed", sans-serif; }

a:link { color: hsl(240, 100%, 25%); }

a:visited { color: hsl(240, 100%, 25%); }

a:hover { color: hsl(195, 100%, 50%); }

a:active { color: hsl(197, 71%, 73%); }

/* top nav strip */

.l-nav-top {
    background-color: hsl(0, 0%, 93%);
    width: 100%;
}

.l-nav-top a {
    padding: 1em;
    display: flex;
}

/* main container */

.l-main { padding: 1em; }

/* text infos */
.l-student_status_info {
    margin-top: 0.5em;
    display: none;
    font-size: 5em;
}

.l-room_status--initial .l-student_status_info--intro,
.l-room_status--break .l-student_status_info--break,
.l-room_status--lecturing .l-student_status_info--lecture { display: block; }

/* name setting */

.l-student_name {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.l-student_name-text {
    font-size: 2em;
}

.l-name_actions {
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
}

.l-name_actions > a { padding: 5px; }

.l-set_name {
    font-size: 45%;
    font-weight: normal;
}

.l-unset_name {
    font-size: 45%;
    font-weight: normal;
}

.l-name_form { margin-top: 1em; }

.l-name_form input { font-size: 2em; }

.l-name_form input:required:invalid + input[type=submit],
.l-name_form input:focus:invalid + input[type=submit] {
    visibility: hidden;
}

.l-name_form input:required:valid + input[type=submit] { visibility: visible; }

/* Buttons */

.l-buttons { display: flex; }

.l-button {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding: 1em 0.5em;
    border: 0 none;
    line-height: 0.9;
    width: 100%;
    height: 10vh;
    font-size: 1.6rem;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4);
}

.l-button:hover { box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4), inset 0 0 100px 0 hsla(0, 0%, 0%, 0.3); }

.l-button:focus {
    outline: hsl(60, 90%, 50%) solid 3px;
    box-shadow: 0;
}

.l-button.l-clicked { opacity: 0.5; }

.l-buttons.l-clicked .l-button { display: none; }

.l-buttons.l-clicked:before {
    content: "Äekej";
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
}

.l-clicked:before,
.l-button {
    color: hsl(0, 0%, 0%);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.l-buttons--student { margin: 2em 0; }

.l-buttons--student .l-button { box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4), inset 0 500px 100px 0 hsla(0, 0%, 100%, 0.85); }
.l-buttons--student .l-button:hover { box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4), inset 0 500px 100px 0 hsla(0, 0%, 100%, 0.4); }

.l-buttons--student .l-button:not(.l-button--selected) { color: hsla(0, 0%, 0%, 0.6); }

.l-buttons--student .l-button:not(.l-button--selected):hover { color: hsla(0, 0%, 100%, 1); }

.l-button.l-button--selected {
    box-shadow: inset 0 3px 6px 0 hsla(0, 0%, 0%, 0.2), inset 0 0 100px 0 hsla(0, 0%, 0%, 0.2);
    pointer-events: none;
    cursor: default;
    color: hsla(0, 0%, 100%, 0.95);
    text-shadow: white 10px;
}

.l-room_status--initial .l-buttons--student,
.l-room_status--lecturing .l-buttons--student,
.l-room_status--break .l-buttons--student { display: none; }

.l-room_status--initial .l-button--check_status,
.l-room_status--lecturing .l-button--start_lecture,
.l-room_status--lecturing .l-button--check_status,
.l-room_status--working .l-button--start_work,
.l-room_status--break .l-button--check_status,
.l-room_status--break .l-button--start_break { display: none; }

.l-button--primary {
    background-color: hsl(210, 50%, 50%);
    color: hsl(0, 0%, 100%);
}

.l-room_status--initial .l-button--start_work,
.l-room_status--initial .l-button--start_break {
    background-color: hsl(0, 0%, 87%);
    color: hsl(0, 0%, 0%);
}

.l-room_status--initial .l-button--start_work,
.l-room_status--initial .l-button--start_break,
.l-button--check_status {
    width: 50%;
}

.l-button--start_break {
    width: 50%;
    background-color: hsl(203, 92%, 75%);
    color: hsl(203, 82%, 33%);
}

.l-button--check_status { background-color: hsl(40, 100%, 50%); }

.l-lector {
    display: flex;
    height: 100vh;
}

.l-lector-controls {
    height: 50vh;
    width: 70%;
    min-width: 400px;
}

.l-buttons-lector {
    height: 12vh;
}

/* chat */
.l-chat {
    height: 85vh;
    padding: 0 5px;
}

.l-chat-form {
    height: 20vh;
}

.l-chat input,
.l-chat textarea,
.l-chat select {
    width: 100%;
    margin: 0;
}

.l-chat textarea {
    height: 10vh;
    border: 1px solid hsl(0, 0%, 87%);
}

.l-chat select { display: none; }

.l-chat-buttons {
    display: flex;
}

.l-chat .l-button {
    padding: 0.5em 0;
    font-size: 1em;
    height: auto;
}

.l-chat-buttons .l-button--primary {
    width: 150%;
}

.l-chat textarea:required:invalid ~ .l-chat-buttons .l-button--primary,
.l-chat textarea:required:invalid:hover ~ .l-chat-buttons .l-button--primary,
.l-chat textarea:focus:invalid ~ .l-chat-buttons .l-button--primary {
    background-color: hsl(0, 0%, 87%);
    box-shadow: none;
}

.l-chat textarea:required:valid ~ .l-chat-buttons .l-button--primary { background-color: hsl(210, 50%, 50%); }

.l-chat-log {
    border-top: 1px solid hsl(0, 0%, 87%);
    overflow: auto;
    height: 65vh;
}

.l-chat-log--student {
    height: auto;
}

.l-chat-message {
    padding: 10px 0 0 10px;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    font-size: 16px;
}

.l-chat-message p,
.l-chat-message li,
.l-chat-message pre,
.l-chat-message table,
.l-chat-message h1,
.l-chat-message h2,
.l-chat-message h2,
.l-chat-message h3,
.l-chat-message h4,
.l-chat-message h5,
.l-chat-message h6 {
    margin-bottom: 10px;
}

.l-chat-message * + h1,
.l-chat-message * + h2,
.l-chat-message * + h2,
.l-chat-message * + h3,
.l-chat-message * + h4,
.l-chat-message * + h5,
.l-chat-message * + h6 {
    margin-top: 1.2em;
}

.l-chat-message blockquote {
    padding: 5px 0 5px 10px;
    line-height: 1.2;
    border-left: 1px solid hsl(0, 0%, 87%);
    margin: 10px 0 10px 10px;
}

.l-chat-message li { margin-left: 2em; }

.l-chat-message pre {
    padding: 10px;
    line-height: 1.2;
}

.l-chat-message code,
.l-chat-message pre {
    font-family: Consolas, monaco, monospace;
    background: hsl(0, 0%, 93%);
}

.l-chat-message code {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

.l-chat-message table th,
.l-chat-message table td {
    border: 1px solid hsl(0, 0%, 80%);
    padding: 4px 6px;
    text-align: left;
}

.l-chat-message table th { font-weight: bold; }

/* system messages */
/* yes it's a hack, reusing element that shouldn't be, but nobody uses h6! */
.l-chat-message h6:only-child {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 80%);
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    font-weight: normal;
    margin-right: 10px;
}

/* Room status info  */

.l-room_status_info {
    height: 3vh;
    padding: 0.2vh;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
}

.l-room_status_info-duration { text-align: right; }

/* Desks */
.l-desks {
    width: 100%;
    height: 100%;
    max-width: 110vh;
    max-height: 110vw;
    background-color: hsl(0, 0%, 90%);
}

.l-desks--lector {
    min-width: 500px;
    min-height: 500px;
}

.l-desks-P {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.l-desks--lector .l-desks-P { transform: rotate(180deg); }

.l-desks--home {
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    min-width: 400px;
    height: 100vh;
    width: 100vw;
    max-width: 100vh;
}

/* Screen position */
.l-screen {
    text-align: center;
    height: 4vh;
    line-height: 4vh;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.l-desks--lector .l-screen { transform: rotate(180deg); }

.l-desk {
    position: absolute;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-desk-shape--square,
.l-desk-shape--circle {
    width: 60%;
    height: 60%;
}

.l-desk-shape--rectangle {
    width: 95%;
    height: 30%;
}

.l-desk-shape > div {
    width: 100%;
    height: 100%;
}

.l-desk-shape--circle > div { border-radius: 100%; }

/* Desk identification (name and coach name) */
.l-desk-id-rotation_compensation {
    width: 100%;
    height: 100%;
}

.l-desk-id {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.l-desks--lector .l-desk-id { transform: rotate(180deg); }

.l-desk-name,
.l-desk-coach { text-align: center; }

.l-desk-coach { font-style: italic; }

/* Chairs */
.l-desk-chairs {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.l-chair {
    position: absolute;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* square and round table's chair */
.l-desk-shape--square .l-chair,
.l-desk-shape--circle .l-chair { width: 100%; }

.l-desk-shape--square .l-chair:nth-child(1),
.l-desk-shape--circle .l-chair:nth-child(1) { bottom: -20%; }

.l-desk-shape--square .l-chair:nth-child(2),
.l-desk-shape--circle .l-chair:nth-child(2) {
    right: -60%;
    top: 40%;
    transform: rotate(-90deg);
}

.l-desk-shape--square .l-chair:nth-child(3),
.l-desk-shape--circle .l-chair:nth-child(3) {
    left: -60%;
    top: 40%;
    transform: rotate(-90deg);
}

.l-desk-shape--square .l-chair:nth-child(4),
.l-desk-shape--circle .l-chair:nth-child(4) { top: -20%; }

/* Rectangle table chairs */

.l-desk-shape--rectangle .l-chair { width: 33.33%; }

.l-desk-shape--rectangle .l-chair:nth-child(-n+3) { bottom: -30%; }

.l-desk-shape--rectangle .l-chair:nth-child(n+4) { top: -30%; }

.l-desk-shape--rectangle .l-chair:nth-child(3n+1) { left: 0; }

.l-desk-shape--rectangle .l-chair:nth-child(3n+2) { left: 33.33%; }

.l-desk-shape--rectangle .l-chair:nth-child(3n+3) { left: 66.66%; }

/* 1-chair */
.l-desk-shape--rectangle.l-desk-chairs_number--1 .l-chair { width: 100%; }

/* 2-chair */
.l-desk-shape--rectangle.l-desk-chairs_number--2 .l-chair:nth-child(3n+2) { left: 50%; }

/* 3-chair */
.l-desk-shape--rectangle.l-desk-chairs_number--3 .l-chair { width: 33.33%; }

.l-desk-shape--rectangle.l-desk-chairs_number--2 .l-chair { width: 50%; }

/* 4-chair */
.l-desk-shape--rectangle.l-desk-chairs_number--4 .l-chair { width: 50%; }

.l-desk-shape--rectangle.l-desk-chairs_number--4 .l-chair:nth-child(2) { left: 50%; }

.l-desk-shape--rectangle.l-desk-chairs_number--4 .l-chair:nth-child(3) { top: -30%; left: 50%; }

/* 5-chair */
.l-desk-shape--rectangle.l-desk-chairs_number--5 .l-chair:nth-child(n+4) { width: 50%; }

.l-desk-shape--rectangle.l-desk-chairs_number--5 .l-chair:nth-child(5) { left: 50%; }

/* Round table chairs */

.l-chair a {
    display: block;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    font-size: 12px;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    min-width: 50%;
}

.l-desks--lector .l-chair a { transform: rotate(180deg); }

.l-chair a:hover { background-color: hsla(0, 0%, 100%, 0.9); }

.l-status--offline,
.l-desks--home .l-chair .l-status--offline {
    background-color: transparent;
    outline: 1px dotted hsl(0, 0%, 80%);
}

.l-status--offline:hover,
.l-desks--home .l-chair .l-status--offline:hover {
    outline-style: solid;
    outline-color: hsl(0, 0%, 50%);
}

.l-chair .l-status--online,
.l-desks--home .l-chair .l-status--online {
    background-color: hsl(50, 80%, 80%);
}

.l-desks--home .l-chair > a:not(.l-status--offline) {
    pointer-events: none;
    cursor: default;
    user-select: none;
    text-decoration: none;
}

/* Universal statuses */
.l-status--done,
.l-status--done:link,
.l-status--done:visited,
.l-status--not_done,
.l-status--not_done:link,
.l-status--not_done:visited,
.l-status--help,
.l-status--help:link,
.l-status--help:visited { color: hsl(0, 0%, 100%); }

.l-button-status--done,
.l-status--done { background-color: hsl(120, 100%, 25%); }

.l-button-status--not_done,
.l-status--not_done { background-color: hsl(210, 100%, 50%); }

.l-button-status--help,
.l-status--help { background-color: hsl(0, 100%, 39%); }

.l-status--empty { background-color: hsl(0, 0%, 70%); }

/* desk status only */
.l-desk-shape > .l-status--online,
.l-desks--home .l-desk-shape > div:not(.l-status--online) { background-color: hsl(25, 75%, 30%); }

/* show statuses for teacher only */
.l-desks--home a,
.l-desks--home a:link,
.l-desks--home a:visited {
    color: hsl(0, 0%, 40%);
    background-color: hsl(0, 0%, 100%);
}