html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body { line-height: 1; }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after { box-sizing: border-box; }

body,
input,
textarea,
button { font-family: "Roboto Condensed", sans-serif; }

a:link { color: navy; }

a:visited { color: navy; }

a:hover { color: deepskyblue; }

a:active { color: skyblue; }

/* top nav strip */

.l-nav-top {
    background-color: #eeeeee;
    width: 100%;
}

.l-nav-top a {
    padding: 1em;
    display: flex;
}

/* main container */

.l-main { padding: 1em; }

/* text infos */
.l-intro,
.l-lecture {
    margin-top: .5em;
    display: none;
    font-size: 5em;
}

.l-room_status--appstarted .l-intro,
.l-room_status--lecturing .l-lecture { display: block; }

/* name setting */

.l-student_name {
    font-size: 2em;
}

.l-set_name {
    font-size: 45%;
    font-weight: normal;
}

.l-name_form { height: 4em; }

.l-name_form input { font-size: 2em; }

/* Buttons */

.l-buttons { display: flex; }

.l-button {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding: .5em;
    border: 0 none;
    width: 100%;
    height: 10vh;
    font-size: 2vh;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4);
}

.l-button:hover {
    box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.4), inset 0 0 100px 0 hsla(0, 0%, 0%, 0.3);
}

.l-button.l-clicked {
    opacity: 0.5;
}

.l-buttons.l-clicked .l-button { display: none; }

.l-buttons.l-clicked:before {
    content: "čekej";
    color: white;
    background-color: black;
}

.l-clicked:before,
.l-button {
    color: black;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.l-buttons--student { margin: 2em 0; }

.l-buttons--student .l-button.l-selected {
    box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.8), inset 0 0 100px 0 hsla(0, 0%, 0%, 0.5);
}

.l-room_status--appstarted .l-buttons--student,
.l-room_status--lecturing .l-buttons--student { display: none; }

.l-room_status--appstarted .l-button--check_status,
.l-room_status--lecturing .l-button--start_lecture,
.l-room_status--lecturing .l-button--check_status,
.l-room_status--working .l-button--start_work { display: none; }

.l-button--start_work {
    background-color: rgb(0, 127, 255);
    color: #ffffff;
}

.l-button--check_status { background-color: orange; }

.l-button--start_lecture { background-color: lightgrey; }

.l-lector-controls { height: 20vh; }

/* Room status info  */

.l-room_status_info { text-align: center; }

/* Desks */
.l-desks {
    position: relative;
    height: 80vh;
    width: 100vw;
    max-width: 80vh;
    background-color: #eeeeee;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    min-width: 400px;
}

.l-desks--home {
    height: 100vh;
    width: 100vw;
    max-width: 100vh;
    background-color: red;
}

/* Screen position */
.l-screen {
    text-align: center;
    height: 4vh;
    line-height: 4vh;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #ffffff;
}

.l-desk {
    position: absolute;
    background-color: #e8e8e8;
    transform-origin: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.l-desk-shape {
    width: 50%;
    height: 50%;
    display: flex;
}

.l-desk-shape > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.l-desk-id {
    text-align: center;
    color: hsla(0, 0%, 100%, 0.7);
}

.l-desk-coach { font-style: italic; }

/* Chairs */

.l-chair {
    position: absolute;
    width: 65%;
}

.l-chair a {
    width: 100%;
    padding: 8% 0;
    text-align: center;
    font-size: 13px;
    display: block;
    color: black;
    text-decoration: none;
}

.l-chair:hover { background-color: rgba(255, 255, 255, 0.9) }

.l-chair--position_0,
.l-chair--position_1 { top: 10%; }

.l-chair--position_2,
.l-chair--position_3 { bottom: 10%; }

.l-chair--position_0,
.l-chair--position_2 { left: -30%; }

.l-chair--position_1,
.l-chair--position_3 { right: -30%; }

.l-status--offline { background-color: rgba(255, 255, 255, 0.5); }

.l-chair .l-status--online {
    background-color: rgba(255, 255, 255, 1);
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

/* desk status only */
.l-desk-shape > .l-status--online { background-color: saddlebrown; }

/* Universal statuses */
.l-status--done,
.l-status--done:link,
.l-status--done:visited,
.l-status--not_done,
.l-status--not_done:link,
.l-status--not_done:visited,
.l-status--help,
.l-status--help:link,
.l-status--help:visited { color: white; }

.l-status--done { background-color: rgb(0, 128, 0); }

.l-status--not_done { background-color: rgb(0, 127, 255); }

.l-status--help { background-color: rgb(200, 0, 0); }

.l-status--empty { background-color: rgb(145, 145, 145); }

/* Shapes to be done */
/*

.l-desk-shape--square { }

.l-desk-shape--rectangle {
    width: 50vw;
    height: 20vw;
}

.l-desk-shape--circle {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
}

.l-desk-shape--hexagon {
    width: 50vw;
    height: 22.5vw;
    background: red;
    position: relative;
}

.l-desk-shape--hexagon:before {
    content: "";
    position: absolute;
    top: -12.5vw;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25vw solid transparent;
    border-right: 25vw solid transparent;
    border-bottom: 12.5vw solid red;
}

.l-desk-shape--hexagon:after {
    content: "";
    position: absolute;
    bottom: -12.5vw;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25vw solid transparent;
    border-right: 25vw solid transparent;
    border-top: 12.5vw solid red;
    z-index: -100;
}
*/
